<tr id="product-row-<%= product.id %>" class="border-b dark:border-gray-700">
  <td scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= product.name %></td>
  <td class="px-4 py-3"><%= product.id %></td>
  <td class="px-4 py-3"><%= product.category %></td>
  <td class="px-4 py-3"><%= product.brand %></td>
  <td class="px-4 py-3 max-w-[12rem] truncate"><%= product.description %></td>
  <td class="px-4 py-3"><%= number_to_currency(product.price, unit: "$") %></td>
  <td class="px-4 py-3 flex items-center justify-end">
    <%= flowbite_dropdown_trigger "dropdown-#{product.id}", id: "dropdown-button-#{product.id}", class: "cursor-pointer inline-flex items-center text-sm font-medium hover:bg-gray-100 dark:hover:bg-gray-700 p-1.5 dark:hover-bg-gray-800 text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100" do %>
      <%= icon(:ellipsis_horizontal) %>
    <% end %>

    <div id="dropdown-<%= product.id %>" data-controller="flowbite--dropdown-target" class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
      <ul class="py-1 text-sm" aria-labelledby="apple-imac-27-dropdown-button">
        <li>
          <%= resource_modal_trigger "updateProductModal", form_products_path(id: product), class: "cursor-pointer flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-gray-700 dark:text-gray-200" do %>
            <%= icon(:edit) %> Edit
          <% end %>
        </li>
        <li>
          <%= resource_modal_trigger "readProductModal", product_path(product), class: "cursor-pointer flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white text-gray-700 dark:text-gray-200" do %>
            <%= icon(:preview) %> Preview
          <% end %>
        </li>
        <li>
          <%= resource_modal_trigger "deleteModal", delete_confirm_product_path(product), class: "cursor-pointer flex w-full items-center py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 text-red-500 dark:hover:text-red-400" do %>
            <%= icon(:delete) %> Delete
          <% end %>
        </li>
      </ul>
    </div>
  </td>
</tr>